classes/
build
out
target
.idea
.idea_modules
.gradle
logs
.DS_Store
*.iml
*.ipr
*.iws
*.db
*.log
META-INF
service/src/test/unit/resources/**/*.sql
service/src/test/unit/resources/*.yml
access.log*
.java-version
.sonar
