<div class="error-summary" tabindex="-1" aria-labelledby="error-summary-heading">
    <h1 class="heading-medium error-summary-heading" id="error-summary-heading">There was a problem</h1>

    <ul class="error-summary-list">
        <li><a href="#{{{inputFieldId}}}">{{{message}}}</a></li>
    </ul>
</div>
