{{#partial "content" }}

    <div class="grid-row">

        <div class="column-two-thirds">

            <h1 class="heading heading-large heading--large">There is a problem with your browser cookies</h1>

            <p class="lede" id="error-message">Use a different browser or open an incognito tab in your current browser.</p>


            <p><a href="./start" class="button">Try subscribing again</a></p>
        </div>

    </div>

{{/partial}}
{{> master pageTitle="Browser cookie problem – MOT reminders"}}
