{{#partial "content" }}
    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading heading-large heading--large">Oops, something went wrong!</h1>
        </div>
    </div>
{{/partial}}
{{> master pageTitle="Something went wrong – MOT reminders"}}

