{{#partial "content" }}
    <header class="content-header">
        <h1 class="content-header__title">
            Oops, something went wrong!
        </h1>
    </header>
{{/partial}}
{{> master pageTitle="Something went wrong – MOT reminders"}}
