<div class="error-summary" role="alert" aria-labelledby="error-summary-heading" tabindex="-1">
    <h2 id="error-summary-heading" class="heading-medium error-summary-heading">There was a problem</h2>

    <ul class="error-summary-list">
        <li><a href="#{{{inputFieldId}}}">{{{message}}}</a></li>
    </ul>
</div>
