<div class="error-summary" role="alert" aria-labelledby="system-summary-heading" tabindex="-1">
    <h2 id="system-summary-heading" class="heading-medium error-summary-heading">Something went wrong with the search</h2>
    <p>Try again later</p>
</div>