{{#partial "content" }}
    <header class="content-header">
        <h1>
                        <span class="content-header__type">

                        </span>

            <span class="content-header__title">
                            Oops, something went wrong!
                        </span>

        </h1>

    </header>
{{/partial}}
{{> master}}