{{#partial "content" }}
    <header class="content-header">
        <h1 class="content-header__title">
            Page not found
        </h1>
    </header>
    <p class="text">Check you've entered the correct web address or continue to <a href="{{{url this "/"}}}">sign up for an MOT reminder.</a></p>
{{/partial}}
{{> master pageTitle="Page not found – MOT reminders"}}
