{{#partial "content" }}
    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-large">Page not found</h1>
            <p>Check you’ve entered the correct web address or continue to <a href="{{{url this "/"}}}">sign up for an MOT reminder.</a></p>
        </div>
    </div>
{{/partial}}
{{> master pageTitle="Page not found – MOT reminders"}}
