{{#partial "content" }}
<div class="grid-row">
    <div class="column-two-thirds">
        <header class="content-header">
            <h1 class="content-header__title">
                One more step
            </h1>
        </header>
        <p class="lede">Check your inbox <strong>{{viewModel.emailDisplayString}}</strong>and click the link in the email from GOV.UK to activate your MOT reminder.</p>
    </div>
</div>
{{/partial}}
{{> master pageTitle="You’ve nearly finished – MOT reminders"}}
