{{#partial "content" }}

    <div class="grid-row">

        <div class="column-two-thirds">

            <h1 class="heading-xlarge">One more step</h1>

            <p class="lede">Check your inbox <strong>{{viewModel.emailDisplayString}}</strong>and click the link in the email from GOV.UK to activate your MOT reminder.</p>

        </div>

    </div>
{{/partial}}
{{> master pageTitle="You've nearly finished – MOT reminders"}}
