{{#partial "content" }}
    <div class="grid-row">
        <div class="column-two-thirds">
            <header class="content-header">
                <h1>
                    <span class="content-header__type"></span>
                    <span class="content-header__title">
                    Get reminders about your MOT
                </span>
                </h1>
            </header>
            <div class="text">
                <p class="lede">Sign up for free email reminders from DVSA.</p>
                <p>You’ll get a reminder a month before your MOT expiry date. You can get an MOT up to a month (minus a day) before it
                    runs out and keep the same renewal date.</p>
                <p>Without a valid MOT you can’t tax your vehicle and you could get a fine.</p>
            </div>
            <form action="#">
                <nav class="content-navigation">
                    <a href="vehicle-details" id="startButton" class="button">Start now</a>
                </nav>
            </form>
            <div class="text">
                <h2 class="heading-medium">Before you start</h2>
                <p>You’ll need:</p>
                <ul class="list-bullet">
                    <li>your vehicle’s registration number</li>
                    <li>an email address</li>
                </ul>
                <p>Your vehicle must have had its first MOT.</p>
                <p>You can unsubscribe from the reminders at any time from the confirmation or reminder email.</p>
                <p>They won’t automatically stop if you sell the vehicle or declare it off-road.</p>
            </div>
        </div>
        <div class="column-third">
            <div class="related">
                <div class="related__section">
                    <h2 class="related__section-title">Elsewhere on GOV.UK</h2>
                    <ul class="related__section-links">
                        <li><a href="https://www.gov.uk/getting-an-mot/">Getting an MOT</a></li>
                        <li><a href="https://www.gov.uk/check-mot-status">Check the MOT status of a vehicle</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{{/partial}}
{{> master}}
