{{#partial "content" }}
    <header class="content-header">
        <h1>
            <span class="content-header__type"></span>
            <span class="content-header__title">
                            Sign up for an MOT reminder
            </span>
        </h1>
    </header>

    <div class="text">
        <p>Get a yearly reminder to tell you that your vehicle's MOT test is due.</p>
        <p>DVSA will send you an email 4 weeks and 2 weeks before the MOT renewal date.</p>
        <p>Signing up takes around 3 minutes.</p>
    </div>

    <form action="#">
        <nav class="content-navigation">
            <a href="/mot-reminders/car-details" class="button">Start now</a>
            <ul class="content-navigation__secondary">
            </ul>
        </nav>
    </form>

    <div class="text">
        <h2 class="heading-medium">Before you start</h2>
        <p>You can use this service if:</p>
        <ul class="list-bullet">
            <li>you know your vehicle registration number</li>
            <li>you have an email address</li>
            <li>your vehicle has already had its first MOT</li>
        </ul>
        <p>If you no longer own the vehicle or want to stop the reminder, unsubscribe from the reminder email.</p>
    </div>
{{/partial}}
{{> master}}