{{#partial "content" }}
    <div class="banner--error" style="margin-top: 30px;">
        <span class="banner__heading-large">No MOT reminder found</span>
    </div>

    <div class="text">
        <p class="lede">You have already confirmed your email address or the link hasn’t worked. Copy and paste the link into the browser to try again.  </p>
    </div>
{{/partial}}
{{> master}}
