{{#partial "content" }}
    <div class="banner--error" style="margin-top: 30px;">
        <span class="banner__heading-large">No MOT reminder found</span>
    </div>

    <div class="text">
        <p id="error-message">You’ve already unsubscribed or the link hasn’t worked.</p>
        <p>Copy and paste the link into the browser to try again.</p>
    </div>
{{/partial}}
{{> master pageTitle="No MOT reminder found – MOT reminders"}}
