{{#partial "content" }}
    {{> partial/breadcrumb crumbTitle="Accessibility statement" }}
    <h1 class="heading heading-large heading--large">Accessibility for MOT Reminders</h1>
    <div class="text">
        <p>This service is part of the wider GOV.UK website. There’s a separate <a
                    href="https://www.gov.uk/help/accessibility-statement">accessibility statement for the
                main GOV.UK
                website</a>.
                This page only contains information about the MOT Reminder service, available at
                        <a href="http://www.gov.uk/mot-reminder">www.gov.uk/mot-reminder</a>.</p>

        <h2 class="heading-medium">Using this service</h2>
        <p>This service is run by the Driver & Vehicle Standards Agency. We want as many people as possible to be able to use this service.
        For example, that means you should be able to:</p>
        <ul class="list-bullet govuk-!-margin-bottom-5 govuk-!-margin-left-5">
            <li>zoom in up to 300% without the text spilling off the screen</li>
            <li>get from the start of the service to the end using just a keyboard</li>
            <li>get from the start of the service to the end using speech recognition software</li>
            <li>listen to the service using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)</li>
        </ul>

        <p>We’ve also made the text in the service as simple as possible to understand.</p>
        <p><a rel="external" href="https://mcmw.abilitynet.org.uk/">AbilityNet</a> has advice on making your device easier to use if you have a disability.</p>

        <h2 class="heading-medium">How accessible this service is</h2>
        <p> Some elements of this service are not fully accessible, such as:</p>
        <ul class="list-bullet govuk-!-margin-bottom-5 govuk-!-margin-left-5">
            <li>there are some elements present that had a colour used for styling focus indication that did not pass the expected ratio</li>
            <li>when errors are made on pages, the page title does not change to notify users that an error has been committed</li>
        </ul>

        <h2 class="heading-medium">Feedback and contact information</h2>
         <p>If you need information in a different format <a href="https://www.gov.uk/contact-dvsa">contact us</a> and tell us:</p>
        <ul class="list-bullet govuk-!-margin-bottom-5 govuk-!-margin-left-5">
            <li>the web address (URL) of the content</li>
            <li>your name and email address</li>
            <li>the format you need, for example, audio CD, braille, BSL or large print, accessible PDF</li>
        </ul>

        <p>As part of providing this service, we may need to send you messages or documents. We’ll ask you how you want us
        to send messages or documents to you, but contact us if you need them in a different format. For example,
        large print, audio recording or braille.
        </p>

        <h2 class="heading-medium" >Reporting accessibility problems with this service</h2>
        <p>We’re always looking to improve the accessibility of this service. If you find any problems that aren’t listed on
             this page or think we’re not meeting accessibility requirements, contact:
             <a href="https://www.gov.uk/contact-dvsa">https://www.gov.uk/contact-dvsa</a>.</p>

        <h2 class="heading-medium">Enforcement procedure</h2>

        <p>The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites
             and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’). If you’re not
             happy with how we respond to your complaint, <a rel="external" href="https://www.equalityadvisoryservice.com/">contact the Equality Advisory and Support Service (EASS)</a>.</p>

        <h2 class="heading-medium">Contacting us by phone or visiting us in person</h2>
        <p>We provide a text relay service for people who are deaf, hearing impaired or have a speech impediment.</p>
        <p>Our offices have audio induction loops, or if you contact us before your visit we can arrange a British Sign Language (BSL) interpreter to help you complete the service in person.</p>
        <p>Find out how to contact us at <a href="https://www.gov.uk/contact-dvsa">www.gov.uk/contact-dvsa</a>.</p>

        <h2 class="heading-medium">Technical information about this service’s accessibility</h2>
        <p>Driver & Vehicle Standards Agency is committed to making this service accessible, in accordance with the Public
             Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.</p>

        <p>This service is partially compliant with the <a rel="external" href="https://www.w3.org/TR/WCAG21/">Web Content Accessibility Guidelines version 2.1 AA standard</a>, due to
             the non-compliances listed below.</p>

        <h2 class="heading-medium">Non-accessible content</h2>
        <p>The content listed below is non-accessible for the following reasons.</p>

        <h3 class="heading-small govuk-!-margin-bottom-5">Non-compliance with the accessibility regulations</h3>
        <div class="govuk-!-margin-bottom-5">Colours of non-text elements
             <ul class="list-bullet govuk-!-margin-left-5">
                 <li>there are some elements present that had a colour used for styling focus indication that did not pass the expected ratio
                 </li>
                 <li>WCAG Reference: 1.4.11 Non-text Contrast. Understanding Non-text Contrast. How to Meet Non-text Contrast (Level AA)
                 </li>
                 <li>fix expected by 31 March 2021 at the latest</li>
             </ul>
        </div>

        <h3 class="heading-small">Content that’s not within the scope of the accessibility regulations</h3>
        <div class="govuk-!-margin-bottom-5">Usability of error messages
             <ul class="list-bullet govuk-!-margin-left-5">
                 <li>when errors are made on pages, the page title does not change to notify users that an error has been committed
                 </li>
                 <li>doesn’t adhere to GDS guidelines for error handling</li>
                 <li>fix expected by 31 March 2021 at the latest</li>
             </ul>
        </div>

        <h2 class="heading-medium">How we tested this service</h2>
        <p>The service was last tested between 9 and 20 March 2020 and was checked for compliance with WCAG 2.1 AA. The test
             was carried out by Digital Accessibility Centre. You can find out more about them at
             <a rel="external" href="https://digitalaccessibilitycentre.org/">https://digitalaccessibilitycentre.org/</a>.</p>

        <h2 class="heading-medium">What we’re doing to improve accessibility</h2>
        <p>This page was prepared on 3 August 2020. It was last updated on 3 August 2020.</p>

        <p>We’ll carry out on-going internal audits to check the accessibility of this service as well as taking feedback
        from users.</p>

        <p>Any required changes will be planned into our continuous improvement work for this service. </p>

        <p>This accessibility statement will be updated based on any issues we identify or any changes we make to address any issues raised.</p>
     </div>

{{/partial}}
{{> master pageTitle="Accessibility statement – MOT reminders"}}
