{{#partial "content" }}

    <div class="grid-row">

        <div class="column-two-thirds">

            <h1 class="heading heading-large heading--large">{{headerText}}</h1>

            {{#each contentTextArray}}
                <p>{{this}}</p>
            {{/each}}

            <p><a href="https://www.gov.uk/government/publications/exemption-from-heavy-goods-vehicle-hgv-annual-testing-v112g" id="publications-link">Check if your {{vehicleDescriptiveType}} doesn't need an annual test</a></p>
            <br/>
            <p><a href="https://www.gov.uk/mot-reminder" id="reminders-link">Sign up a different vehicle</a></p>
        </div>

    </div>
{{/partial}}
{{> master pageTitle="MOT reminders"}}
