{{#partial "content" }}
    {{> partial/breadcrumb crumbTitle="Cookies" }}
    <h1 class="heading-large">Cookies</h1>
    <div class="text">
        <p>The MOT reminder service puts small files (known as "cookies") onto
            your computer to collect information about how you browse the site.</p>

        <p>Cookies are used to:</p>

        <ul class="list-bullet">
            <li>measure how you use the service so it can be updated and
                improved based on your needs</li>
            <li>direct you down certain journeys to improve your experience</li>
        </ul>

        <p>Cookies on the MOT reminder service aren't used to identify you
            personally.</p>

        <p>You'll normally see a message on the site before we store a cookie on
            your computer.</p>

        <p>Find out more about <a rel="external" href="http://www.aboutcookies.org/" target="_blank">
            how to manage cookies</a>.</p>

        <h2 class="heading-medium">How cookies are used on the MOT Reminders service</h2>
        <p>There are a number of different types of cookie used in the MOT reminder
            service which allow the system to work securely and consistently. These
            are:</p>

        <ul class="list-bullet">
            <li>Google Analytics cookies</li>
            <li>MOT reminder service application cookies</li>
            <li>Hotjar cookies</li>
        </ul>

        <h3 class="heading-small">The MOT reminder service application cookies</h3>
        <p>The MOT reminder service sets a number of cookies to remember
            what you have done on the site and what messages you have
            seen.</p>

        <h3 class="heading-small">Our cookies message</h3>
        <p>You may see a pop-up cookies message when you first visit the MOT
            reminder service. We'll store a cookie so that your computer knows
            you've seen it and knows not to show it again.</p>

        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Purpose</th>
                    <th>Expires</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>seen_cookie_message</td>
                    <td>Saves a message to let us know that you've seen our
                        cookie message
                    </td>
                    <td>28 days</td>
                </tr>
                <tr>
                    <td>session</td>
                    <td>Form data for session handling</td>
                    <td>20 minutes but purged after form completion</td>
                </tr>
                <tr>
                    <td>csrf_token</td>
                    <td>CSRF token value for <a rel="external"
                                                href="https://www.owasp.org/index.php/Cross-Site_Request_Forgery_(CSRF)_Prevention_Cheat_Sheet#Double_Submit_Cookie"
                                                target="_blank">Double Submit</a></td>
                    <td>20 minutes but purged after form completion</td>
                </tr>
            </tbody>
        </table>

        <h3 class="heading-small">Google Analytics cookies</h3>
        <p>We use Google Analytics software to collect information about how you
            use the MOT reminder service. We do this to help make sure the site is
            meeting the needs of its users and to help us make improvements.</p>

        <p>Google Analytics stores information about:</p>

        <ul class="list-bullet">
            <li>the pages you visit on the MOT reminder service</li>
            <li>how long you spend on each page</li>
            <li>how you got to the site</li>
            <li>what you click on while you're visiting the site</li>
        </ul>

        <p>Google do not collect or store your personal information (eg your name
            or address) so this information can't be used to identify who you are. We
            don't allow Google to use or share our analytics data.</p>

        <p>Google Analytics sets the following cookies:</p>

        <h4 class="heading-small">Universal Analytics</h4>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Purpose</th>
                    <th>Expires</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>_ga</td>
                    <td>This helps us count how many people visit the MOT reminder service
                        by tracking if you've visited before</td>
                    <td>2 years</td>
                </tr>
                <tr>
                    <td>_gat</td>
                    <td>Used to manage the rate at which page view requests are made</td>
                    <td>10 minutes</td>
                </tr>
                <tr>
                    <td>_gid</td>
                    <td>Used to distinguish between users of the MOT history service</td>
                    <td>24 hours</td>
                </tr>
            </tbody>
        </table>

        <h4 class="heading-small">Google Analytics</h4>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Purpose</th>
                    <th>Expires</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>_utma</td>
                    <td>Like _ga, this lets us know if you've visited before, so we can
                        count how many of our visitors are new to the MOT reminder
                        service or to a certain page</td>
                    <td>2 years</td>
                </tr>
                <tr>
                    <td>_utmb</td>
                    <td>This works with _utmc to calculate the average length of time
                        you spend on the MOT reminder service</td>
                    <td>30 minutes</td>
                </tr>
                <tr>
                    <td>_utmc</td>
                    <td>This works with _utmb to calculate when you close your browser</td>
                    <td>when you close your browser</td>
                </tr>
                <tr>
                    <td>_utmz</td>
                    <td>This tells us how you reached the MOT reminder service (eg
                        from another website or a search engine)</td>
                    <td>6 months</td>
                </tr>
            </tbody>
        </table>

        <p>You can <a rel="external" href="https://tools.google.com/dlpage/gaoptout" target="_blank">opt out of Google Analytics
            cookies</a>.</p>

        <h2 class="heading-medium">Hotjar cookies</h2>
        <p>From time to time, the MOT reminder service uses a third party service,
            Hotjar, to enable surveys. We do this to help make sure the site is
            meeting the needs of its users and to help us make improvements.</p>

        <p>Hotjar sets the following cookies:</p>

        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>Purpose</th>
                <th>Expires</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>_hjClosedSurveyInvites</td>
                <td>This cookie is set once a visitor interacts with a Survey
                    invitation modal popup. It is used to ensure that the
                    same invite does not re-appear if it has already been
                    shown.</td>
                <td>365 days</td>
            </tr>
            <tr>
                <td>_hjDonePolls</td>
                <td>This cookie is set once a visitor completes a poll using
                    the Feedback Poll widget. It is used to ensure that the
                    same poll does not re-appear if it has already been
                    filled in.</td>
                <td>365 days</td>
            </tr>
            <tr>
                <td>_hjMinimizedPolls</td>
                <td>This cookie is set once a visitor minimizes a Feedback
                    Poll widget. It is used to ensure that the widget stays
                    minimised when the visitor navigates through your site.</td>
                <td>365 days</td>
            </tr>
            <tr>
                <td>_hjDoneTestersWidgets</td>
                <td>This cookie is set once a visitor submits their
                    information in the Recruit User Testers widget. It is
                    used to ensure that the same form does not re-appear
                    if it has already been filled in.</td>
                <td>365 days</td>
            </tr>
            <tr>
                <td>_hjMinimizedTestersWidgets</td>
                <td>This cookie is set once a visitor minimizes a Recruit
                    User Testers widget. It is used to ensure that the
                    widget stays minimised when the visitor navigates
                    through your site.</td>
                <td>365 days</td>
            </tr>
            <tr>
                <td>_hjIncludedInSample</td>
                <td>This session cookie is set to let Hotjar know whether
                    that visitor is included in the sample which is used to
                    generate funnels</td>
                <td>365 days</td>
            </tr>
            </tbody>
        </table>

        <h3 class="heading-small">Feedback</h3>
        <p>MOT reminder service links to Smart Survey to enable us to run and
            analyse feedback surveys. This is a separate domain, and Smart Survey
            has its own cookies policy.</p>

        <p>Find out more about <a rel="external"
                                  href="https://www.smartsurvey.co.uk/how-we-use-cookies"
                                  target="_blank">Smart Survey cookies</a>.</p>

        <h3 class="heading-small">Government services</h3>
        <p>Most services we link to are run by different government departments,
            eg HM Revenue and Customs (HMRC) or the Home Office.</p>

        <p>These services may set additional cookies and, if so, will have their own
            cookies policy.</p>
    </div>
{{/partial}}
{{> master pageTitle="Cookie policy – MOT reminders"}}
