{{#partial "content" }}

    <div class="grid-row">

        <div class="column-two-thirds">

            <h1 class="heading heading-large heading--large">One more step</h1>

            <p class="lede">Check your inbox <strong>{{viewModel.emailDisplayString}}</strong>and click the link in the email from GOV.UK to activate your MOT reminder.</p>

            <div class="panel panel-border-wide">

                <p>The link expires 24h from now.</p>

            </div>

        </div>

    </div>
{{/partial}}
{{> master pageTitle="One more step – MOT reminders"}}
