{{#partial "content" }}
    <header class="content-header">
        <h1 class="content-header__title">
            You’ve nearly finished
        </h1>
    </header>
    <div class="text">
        <p class="lede"> Check your email for a confirmation. </p>
        <p>Click the link in the email to finish signing up for MOT reminders.</p>
    </div>
{{/partial}}
{{> master pageTitle="You’ve nearly finished – MOT reminders"}}
