{{#partial "content" }}
    <div class="grid-row">
        <div class="column-two-thirds">
            <header class="content-header">
                <h1 class="content-header__title">Get MOT reminders</h1>
            </header>

            <div class="text">
                <p class="lede">Sign up for annual email reminders to get a vehicle’s MOT renewed.</p>

                <p>You can get a vehicle MOT tested up to a month (minus a day) before its
                    due date and keep the same date for next year.</p>

                <p>If you’re driving a vehicle without a current MOT, you can’t renew your
                    road tax and could get a fine.</p>
            </div>

            <nav class="content-navigation">
                <a href="{{{url this "/vrm"}}}" id="startButton" class="button">Start now</a>
            </nav>

            <div class="text">
                <h2 class="heading-medium">Before you start</h2>

                <p>You’ll need:</p>

                <ul class="list-bullet">
                    <li>your vehicle’s registration number</li>
                    <li>an email address</li>
                </ul>

                <h2 class="heading-medium">You can’t sign up if the vehicle:</h2>

                <ul class="list-bullet">
                    <li>needs more than 1 MOT a year</li>
                    <li>The vehicle is a PSV (public service vehicle) or HGV (heavy goods vehicle)</li>
                </ul>

                <p>You can unsubscribe from the reminders at any time from the
                    confirmation or reminder email. They won’t automatically stop or change
                    if you sell the vehicle, or declare it off-road.</p>
            </div>
        </div>
        
        <div class="column-third">
            <div class="related">
                <div class="related__section">
                    <h2 class="related__section-title">Elsewhere on GOV.UK</h2>
                    <ul class="related__section-links">
                        <li><a href="https://www.gov.uk/getting-an-mot/">Getting an MOT</a></li>
                        <li><a href="https://www.gov.uk/check-mot-status">Check the MOT status of a vehicle</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{{/partial}}
{{> master pageTitle="Get MOT reminders"}}
