{{#partial "content" }}

    <div class="grid-row">

        <div class="column-two-thirds">

            <h1 class="heading-xlarge">Get an annual MOT reminder</h1>

            <p class="lede">Sign up for free email {{#if featureToggleSms}}or text {{/if}}reminders</p>

            <p>You'll get a reminder a month before your MOT expiry date.</p>

            <div class="notice form-group u-space-t15">
                <i class="icon icon-important"><span class="visually-hidden">Warning</span></i>
                <strong class="bold-small">You can be fined up to £1,000 if you don’t have a valid MOT</strong>
            </div>

            <nav class="content-navigation">
                <a href="{{{url this "/vrm"}}}" id="startButton" class="button button-start ">Start now</a>
            </nav>

            <h2 class="heading-medium">Before you start</h2>

            <p>You'll need:</p>

            <ul class="list-bullet u-space-b15">
                <li>your vehicle's registration number</li>
                <li>an email address {{#if featureToggleSms}}or a mobile phone number{{/if}}</li>
            </ul>

            <p>You can unsubscribe from the reminders at any time from the confirmation or reminder email.</p>

            <p>They won't automatically stop if you sell the vehicle or declare it off-road.</p>

        </div>
        
        <div class="column-third">

            <aside class="govuk-related-items">
                <h2 class="heading-medium">Elsewhere on GOV.UK</h2>

                <nav role="navigation">
                    <ul class="list font-xsmall">
                        <li><a href="https://www.gov.uk/getting-an-mot/">Getting an MOT</a></li>
                        <li><a href="https://www.gov.uk/check-mot-status">Check the MOT status of a vehicle</a></li>
                    </ul>
              </nav>
            </aside>

        </div>

    </div>
{{/partial}}
{{> master pageTitle="Get an annual MOT reminder"}}
