{{#partial "content" }}

    <div class="grid-row">

        <div class="column-two-thirds">

            <h1 class="heading heading-large heading--large">{{headerText}}</h1>

            {{#each contentTextArray}}
                <p>{{this}}</p>
            {{/each}}

            <p><a href="https://www.gov.uk/getting-an-mot/vehicles-exempt-from-mot" id="publications-link">Check if your vehicle doesn't need an MOT</a></p>
            <br/>
            <p><a href="https://www.gov.uk/mot-reminder" id="reminders-link">Sign up a different vehicle</a></p>

        </div>

    </div>
{{/partial}}
{{> master pageTitle="MOT reminders"}}
