{{#partial "content" }}
    {{> partial/breadcrumb crumbTitle="Privacy Policy" }}
    <h1 class="heading heading-large heading--large">Privacy policy</h1>
    <div class="text">
        <p>We collect certain information or data about you when you use MOT
            reminders.</p>
        <p>This includes:</p>
        <ul class="list-bullet">
            <li>questions, queries or feedback you leave</li>
            <li>your IP address, and details of which version of
                <a rel="external" href="https://www.gov.uk/help/browsers">web browser you used</a>
            </li>
            <li>information on how you use the site, using
                <a href="{{{url this "/cookies"}}}">cookies</a>
                and page
            tagging techniques to help us improve the website</li>
            <li>your email address to allow us to send you an MOT reminder and
            the vehicle registration mark (VRM) you wish to receive a reminder
            about</li>
        </ul>
        <p>This helps us to:</p>
        <ul class="list-bullet">
            <li>improve the site by monitoring how you use it</li>
            <li>respond to any feedback you send us, if you’ve asked us to</li>
            <li>send you a reminder email</li>
        </ul>
        <p>We can’t personally identify you using your data.</p>

        <h2 class="heading heading-medium heading--medium">Where your data is stored</h2>
        <p>We store your data on our secure servers in the EU.</p>
        <p>It may also be stored outside of Europe, where it could be viewed by our
            staff or suppliers.</p>
        <p>By submitting your personal data, you agree to this.</p>

        <h2 class="heading heading-medium heading--medium">Keeping your data secure</h2>
        <p>Transmitting information over the internet is generally not completely
            secure, and we can’t guarantee the security of your data</p>
        <p>Any data you transmit is at your own risk.</p>
        <p>We have procedures and security features in place to try and keep your
            data secure once we receive it.</p>
        <p>We won’t share your information with any other organisations for
            marketing, market research or commercial purposes, and we don’t pass
            on your details to other websites.</p>
        <p>Payment transactions are always encrypted.</p>

        <h2 class="heading heading-medium heading--medium">Disclosing your information</h2>
        <p>We may pass on your personal information if we have a legal obligation
            to do so, or if we have to enforce or apply our
            <a href="{{{url this "/terms-and-conditions"}}}" id="terms-and-conditions-link">terms of use</a>
            and other
            agreements. This includes exchanging information with other
            government departments for legal reasons.</p>

        <h2 class="heading heading-medium heading--medium">Your rights</h2>
        <p>You can
            <a rel="external" href="https://www.gov.uk/data-protection">
                find out what information we hold about you
            </a>
            , and ask us not to
            use any of the information we collect.</p>

        <h2 class="heading heading-medium heading--medium">Links to other websites</h2>
        <p>MOT reminders contains links to and from other websites.</p>
        <p>This privacy policy only applies to this website, and doesn’t cover other
            government services and transactions that we link to.</p>
        <h3 class="heading heading-small heading--small">Following a link to another website</h3>
        <p>If you go to another website from this one, read the privacy policy on that
            website to find out what it does with your information.</p>
        <h3 class="heading heading-small heading--small">Following a link to MOT reminders from another website</h3>
        <p>If you come to MOT reminders from another website, we may receive
            personal information about you from the other website. You should read
            the privacy policy of the website you came from to find out more about
            this.</p>
    </div>
{{/partial}}
{{> master pageTitle="Privacy policy – MOT reminders"}}
