{{#partial "content" }}

    <div class="grid-row">

        <div class="column-two-thirds">

            <h1 class="heading heading-large heading--large">No MOT reminder found</h1>

            <p>You’ve already confirmed your email address or the link has expired.</p>

            <p><a href="{{{url this "/"}}}">Get a new MOT reminder</a>.</p>

            <p>Please note: The link expires 24h after you sign up to get an MOT reminder.</p>

        </div>

    </div>

{{/partial}}
{{> master pageTitle="No MOT reminder found – MOT reminders"}}
