{{#partial "content" }}
    <div class="transaction-header">
        <h1 class="transaction-header__title">You've signed up for MOT reminders</h1>
        <p class="transaction-header__next-step">The MOT for <span id="vrm">{{viewModel.registration}}</span> expires on <span id="expiry-date">{{viewModel.expiryDate}}</span></p>
    </div>

    <div class="text">
        <h2 class="heading-medium">What happens next?</h2>
        <p>DVSA will send you a reminder at <span id="email">{{viewModel.email}}</span> a month before the vehicle’s MOT expiry date and again 2 weeks later.</p>
        <p>You can unsubscribe at any time, from the reminder emails.</p>

    </div>

    <nav class="content-navigation">
        <ul class="content-navigation__secondary">
            <li>
                <a href="{{url this "/"}}" id="sign-up-for-another-reminder">Sign up another MOT reminder</a>
            </li>
            <li>
                <a href="https://www.gov.uk/" id="continue-to-gov-uk">Continue to GOV.UK</a>
            </li>
        </ul>
    </nav>
{{/partial}}
{{> master pageTitle="You’ve signed up for MOT reminders"}}
