{{#partial "content" }}

    <div class="grid-row">

        <div class="column-two-thirds">

            <h1 class="heading heading-large heading--large">{{headerText}}</h1>
            <p>{{contentText}}</p>

            <p>
              <a href="https://www.gov.uk/contact-dvsa/y/mot-vehicle-tests-and-approval" id="contact-dvsa-link">
                Contact DVSA
              </a> to report this
            </p>

            <p>You can start your MOT reminder sign up again for another vehicle.</p>

            <a href="{{{back_url}}}" class="button">Start again</a>

        </div>

    </div>
{{/partial}}
{{> master pageTitle="This trailer hasn't had its first annual test - MOT reminders"}}
