{{#partial "content" }}

    <div class="grid-row">

        <div class="column-two-thirds">

            <h1 class="heading heading-large heading--large">We don't know when this vehicle's first annual test is due</h1>

            <p>
              <a href="https://www.gov.uk/contact-dvsa/y/mot-vehicle-tests-and-approval" id="contact-dvsa-link">
                Contact DVSA
              </a> to report this
            </p>

            <p>You can start your MOT reminder sign up again for another vehicle.</p>

            <a href="{{{back_url}}}" class="button">Start again</a>

        </div>

    </div>
{{/partial}}
{{> master pageTitle="We don't know when this vehicle's first annual test is due - MOT reminders"}}
