{{#partial "content" }}

    <div class="grid-row">

        <div class="column-two-thirds">

            <div class="govuk-box-highlight">
                <h1 class="bold-large">You've unsubscribed</h1>

                <p>You won't get any more MOT reminders at {{viewModel.email}} for <span style="text-transform: uppercase;">{{viewModel.makeModel}} <span id="vrm">{{viewModel.registration}}</span>.</span></p>
            </div>

            <nav class="content-navigation u-space-t30">
                <ul class="content-navigation__secondary">
                    <li>
                        <a href="{{{url this "/"}}}">Sign up for another MOT reminder</a>
                    </li>
                </ul>
            </nav>

            <div class="text u-space-t45">
                <ul>
                    <li>Help us improve the service - <a href="http://www.smartsurvey.co.uk/s/CRUBR/" target="_blank" id="unsubscribe-survey">tell us why you unsubscribed today</a>.</li>
                </ul>
            </div>

        </div>

    </div>

{{/partial}}
{{> master pageTitle="You've unsubscribed - MOT reminders"}}
