{{#partial "content" }}

    <div class="grid-row">

        <div class="column-two-thirds">

            <h1 class="heading heading-large heading--large">Are you sure you want to unsubscribe?</h1>

            <p>You’ll stop getting MOT reminders at {{viewModel.email}} for {{viewModel.makeModel}} <span id="vrm">{{viewModel.registration}}</span>.</p>

            <form method="POST">

                <input id="cancel-button" type="submit" value="Continue" class="button">

            </form>

        </div>

    </div>

{{/partial}}
{{> master pageTitle="Are you sure you want to unsubscribe? - MOT reminders"}}
